# Python Practice Problems

1. User will input (3ages).Find the oldest one.

In [1]:
a=int(input("enter a number: "))
b=int(input("enter a number: "))
c=int(input("enter a number: "))

max=a
if max < b:
    max = b
if max < c:
    max = c
print(max)

enter a number: 22
enter a number: 21
enter a number: 44
44

2. Write a program that will convert celsius value to fahrenheit

In [2]:
temp = float(input("Enter a temperature:- "))

fahrenheit = (temp * 1.8) + 32

print(fahrenheit)

Enter a temperature:- 33
91.4

3. User will input (2numbers).Write a program to swap the numbers.

In [3]:
a = int(input("Enter a number :- "))
b = int(input("Enter a number :- "))

var = a         # ek variable me store kiya and then a will be empty
a = b
b = var
print(a)
print(b)

Enter a number :- 2
Enter a number :- 4
4
2

4. Write a program that will give you the sum of 3 digits

In [4]:
num = int(input("Enter a three digit number :- "))

a = num % 10  # (345 % 10 = 5)
num = num // 10 #( 345 // 10 = 34)
b = num % 10  # (34 % 10 = 4)
c = num // 10  # (34 // 10 = 3)

rev = (a + b + c)
print(rev)

Enter a three digit number :- 234
9

In [5]:
# Write a program that will give you the sum of 5 digits
num = int(input("Enter a five digit number :-  "))

d = num % 10  # 34567
num = num //10 # 3456
f = num % 10 # 6
num = num //10 #345
j = num % 10 # 5
num = num //10 # 34
s = num %10 # 4
z = num//10
rev = (d+f+j+s+z)
print(rev)

Enter a five digit number :-  34567
25

5. Write a program that will reverse a four digit number.Also it checks
whether the reverse is true.

In [6]:
# User Input
n = int(input("Enter a four digit number :- "))

# digits
a = n % 10
n = n // 10

b = n % 10
n = n // 10

c = n % 10
d = n // 10

# formula 

rev = 1000*a + 100*b + 10*c + d
print(rev)

#check
if rev==n:
    print(True)
    
else:
    print(False)

Enter a four digit number :- 3456
6543
False

6. Write a program that will tell whether the number entered by the
user is odd or even.

In [7]:
n = int(input("Enter a number:- "))

if n%2==0:
    print("Even")
else:
    print("Odd")

Enter a number:- 5
Odd

7. Write a program that will tell whether the given year is a leap year
or not.

In [8]:
n = int(input("Enter a number:- "))

if n%4==0 or (n%400==0 and n%100!=0):
    print("Leap year")
    
else:
    print("Not Leap Year")

Enter a number:- 2018
Not Leap Year

8. Write a program to find the euclidean distance between two
coordinates.

In [9]:
x_1 = float(input("Enter a x1 of x coordinate: -"))
y_1 = float(input("Enter a y1 of x coordinate: -"))
x_2 = float(input("Enter a x1 of y coordinate: -"))
y_2 = float(input("Enter a y2 of y coordinate: -"))

distance = ((x_2 - x_1)**2 + (y_2 - y_1)**2)**0.5

print(distance)

Enter a x1 of x coordinate: -3
Enter a y1 of x coordinate: -4
Enter a x1 of y coordinate: -5
Enter a y2 of y coordinate: -5
2.23606797749979

9. Write a program that take a user inputr of three angles and will
find out whether it can form a triangle or not.

In [10]:
a = int(input("Enter a first angle :- "))
b = int(input("Enter a second angle :- "))
c = int(input("Enter a third angle :- "))

if (a+b+c)==180 and a!=0 and b!=0 and c!=0:
    print("Triangle")
    
else:
    print("Not a Triangle")

Enter a first angle :- 44
Enter a second angle :- 55
Enter a third angle :- 66
Not a Triangle

10. Write a program that will take user input of cost price and selling
price and determines whether its a loss or a profit

In [11]:
cp = int(input("Enter your cost price :- "))
sp = int(input("Enter your selling price:- "))

if cp < sp :
    amount = sp - cp
    print("Profit",amount)
    
else:
    amount = cp - sp
    print("Loss", amount)

Enter your cost price :- 44
Enter your selling price:- 33
Loss 11

11. Write a program to find the simple interest when the value of
   principle,rate of interest and time period is given.

In [12]:
p = int(input("Enter your principle : -"))
r = int(input("Enter your rate of interest :- "))
t = int(input("Enter your time period in year :- "))

si = (p*r*t)/100
print("Your simple interest is", si)

a = p + si
print("Your amount is ", a)

Enter your principle : -33
Enter your rate of interest :- 44
Enter your time period in year :- 2022
Your simple interest is 29359.44
Your amount is  29392.44

12. Write a program to find the volume of the cylinder. Also find the
cost when ,when the cost of 1litre milk is 40Rs.

In [13]:
r = float(input("Enter a radius :-"))
h = float(input("Enter a height :-"))

v = 3.14*(r**2)*h
print("Your valume is", v)

cost = v/1000 * 40
print("Your cost is:", "Rs", cost)

Enter a radius :-3
Enter a height :-4
Your valume is 113.04
Your cost is: Rs 4.5216

13. Write a program that will tell whether the given number is divisible
by 3 & 6.

In [14]:
n= int(input("Enter a number :-"))

if n%3==0 and n%6==0:
    print(n, "is divisible by 3 & 6")
else:
    print(n,"is divisible by 3 & 6")

Enter a number :-4
4 is divisible by 3 & 6

14. Write a program that will determine weather when the value of
temperature and humidity is provided by the user.
TEMPERATURE(C) HUMIDITY(%) WEAT

#>= 30 >=90 Hot and Humid

#>= 30 < 90 Hot

#<30 >= 90 Cool and Humid

#<30 <90 Cool

In [15]:
temp = int(input("Enter your temperature :- "))
humid = int(input("Enter your humidity :- "))

if temp>=30 and humid>=90:
    print("Hot and Humid")
    
elif temp>=30 and humid<90:
    print("Hot")
    
elif temp<30 and humid>=90:
    print("Cool and Humid")
    
else :
    print("Cool")

Enter your temperature :- 33
Enter your humidity :- 44
Hot

15. Write a program that will take three digits from the user and add
the square of each digit.

In [16]:
n = int(input("Enter a three digit number :- "))

a = n % 10 
n = n//10 

b = n%10 
n = n//10 

c = n

add = (a**2 + b**2 +c**2)
print("Required Number is ", add)

Enter a three digit number :- 345
Required Number is  50

16. Write a program that will check whether the number is armstrong
number or not.

In [17]:
n = int(input("Enter a number :- "))    # 153 is armstrong number
n1=n
tot=0
d = len(str(n))
while(n!=0):
    rem=n%10
    tot=(rem**d)+tot
    n=n//10
if(n1==tot):
    print("Armstrong number")
    
else:
    print("Not armstrong number")

Enter a number :- 345
Not armstrong number

In [18]:
# simple way
user_input = int(input("Enter a number :- "))
num = user_input # 234

a = num%10 # 4
num = num//10 # 23
b = num%10 #3
num= num//10# 2
c = num
add = (a**3)+(b**3)+(c**3)
if add==user_input:
    print("Armstrong")
else:
    print("Not arm")

Enter a number :- 234
Not arm

17. Write a program that will take user input of (4 digits number) and
check whether the number is narcissist number or not

In [19]:
user_input = int(input("Enter a four digit number :- ")) # 1234 # 8208 is narcissist

num = user_input

a = num%10 #4
num = num//10 #123
b = num%10 # 3
num = num//10 # 12
c = num%10 # 2
num= num//10 # 1
d = num

add = (a**4)+(b**4)+(c**4)+(d**4)

if add == user_input:
    print("Narcissist number")
    
else:
    print("Not ")

Enter a four digit number :- 7890
Not

18. Write a program that will give you the in hand salary after
deduction of HRA(10%),DA(5%),PF(3%), and tax(if salary is between
5-10 lakh–10%),(11-20lakh–20%),(20< _ – 30%)(0-1lakh print k).

In [20]:
user_input = int(input("Enter your annual salary:- "))

if user_input > 500000 and user_input < 1000000:
    tax = (10/100)*user_input
    temp_salary = user_input - tax 
elif user_input > 1000000 and user_input < 2000000:
    tax = (20/100)*user_input
    temp_salary = user_input - tax 
else:
    tax = (30/100)*user_input
    temp_salary = user_input - tax 
    
print("After salary reduction ", temp_salary)

hra = (10/100)*temp_salary
da = (5/100)*temp_salary
pf = (3/100)*temp_salary

in_handsalary = (temp_salary - hra - da - pf)/12
print("In hand salary is", in_handsalary)


if in_handsalary <= 999:
    print(in_handsalary)
    
elif in_handsalary >= 1000 and in_handsalary <= 9999:
    print(in_handsalary/1000, 'k')
    
elif in_handsalary >= 100000 and in_handsalary <= 9999999:
    print(in_handsalary/1000000,'l')
    
else:
    print(in_handsalary/10000000,'Cr')

Enter your annual salary:- 22000
After salary reduction  15400.0
In hand salary is 1052.3333333333333
1.0523333333333333 k

19. Write a menu driven program - 1.cm to ft 2.kl to miles 3.usd to inr4.exit

In [21]:
user_input =  input('''
Hi! Welcome to my page
what would you like bto do?

1. Convert cm to inches
2. Convert km to miles
3. Convert usd to inr
4. Exit
''')
if user_input == '1':
    cm = float(input("Enter value in cm :-"))
    inch = cm * 0.394
    print('Your value in inch is', inch)
    
elif user_input =='2':
    km = float(input("Enter value in km:-"))
    miles = km * 0.621
    print("Your value in miles is", miles)
    
elif user_input =='3':
    usd = float(input("Enter a value in usd:- "))
    inr = usd * 80
    print("Your value in inr is ", inr)
    
else:
    print("Exit")

Hi! Welcome to my page
what would you like bto do?

1. Convert cm to inches
2. Convert km to miles
3. Convert usd to inr
4. Exit
33
Exit

20. Write a program that will tell the number of dogs and chicken
are there when the user will provide the value of total heads and
legs.

21. Write a program that will swap numbers

In [22]:
x = int(input("Enter a number:- "))
y = int(input("Enter a number:- "))

# Code to swap 'x' and 'y'

# x now becomes 15
x = x + y

# y becomes 10
y = x - y

# x becomes 5
x = x - y
print("After Swapping: x =", x, " y =", y)

# This code is contributed

Enter a number:- 22
Enter a number:- 25
After Swapping: x = 25  y = 22

22.Write a program to find the sum of first n numbers, where n will be
provided by the user. Eg if the user provides n=10 the output should be
55.

In [23]:
n = int(input("Enter a number:-"))

s = n * (n+1)/2
print(s)

Enter a number:-3
6.0

23.Write a program that can multiply 2 numbers provided by the user
without using the * operator

In [24]:
first_num = int(input("Enter a number: -"))
second_num = int(input("Enter a number: -"))
sum = 0

for i in range(0, first_num):
    sum = sum + second_num
    
print("Your result is :", sum)

Enter a number: -4
Enter a number: -5
Your result is : 20

24.Write a program that can find the factorial of a given number provided
by the user.

In [25]:
n = int(input("Enter a number: -"))

f=1
for i in range(1,n+1):
    f=f*i
print(f)

Enter a number: -5
120

25.Write a program to print the first 25 odd numbers

In [26]:
n = 50
odd =[]
for i in range(1,n+1):
    if i%2!=0:
        odd.append(i)

print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [27]:
flag = 0 
i = 0

while True:
    if i % 2!=0:
        print(i)
        flag = flag + 1
    if flag == 25:
        break
    i = i + 1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

26.Write a program to print whether a given number is prime number or
not

In [32]:
n = int(input("Enter a number :- "))

if n>1:
    for i in range(2,n):
        if n%i==0:
            print("NOT prime")
            break
    else:
            print("prime no")
else:
    print("NOT prime")

Enter a number :- 7
prime no

27. Print all the armstrong numbers in the range of 100 to 1000

In [33]:
for num in range(100,1000):
    
    i=num
    a = num % 10 
    num = num // 10
    b = num % 10
    c = num // 10
    
    if (a**3) + (b**3) +(c**3) == i:
        print(i)
        
    i = i + 1

153
370
371
407

28.The current population of a town is 10000. The population of the town is
increasing at the rate of 10% per year. You have to write a program to
find out the population at the end of each of the last 10 years. For eg
current population is 10000 so the output should be like this:
    
10th year - 10000

9th year - 9000

8th year - 8100 and so on

In [34]:
flag = 0
a = 10000
print(a)

while True:
    b = (a) - ((10*a)/100)
    a = b
    print(int(b))
    flag = flag + 1
    
    if flag == 9:
        break

10000
9000
8100
7290
6561
5904
5314
4782
4304
3874

29.Write a program to print all the unique combinations of 1,2,3 and 4

In [35]:
for i in range(1,5):
    for j in range(1,5):
        if(i != j):
            print(i,j)

1 2
1 3
1 4
2 1
2 3
2 4
3 1
3 2
3 4
4 1
4 2
4 3

30.User will provide 2 numbers you have to find the HCF of those 2
numbers

In [36]:
a = int(input("Enter your first number:-"))
b = int(input("Enter your second number :-"))

while a % b != 0:
    rem = a % b
    a = b
    b = rem
print('Your HCF is :', b)

Enter your first number:-6
Enter your second number :-7
Your HCF is : 1

31. User will provide 2 numbers you have to find the by LCM of those 2
numbers

In [2]:
a = int(input("Enter your first number:-"))
num_1 = a
b = int(input("Enter your second number :-"))
num_2 = b

while num_1 % num_2 != 0:
    rem = num_1 % num_2
    num_1 = num_2
    num_2 = rem
hcf = num_2

lcm = (a*b)/hcf
print('Your LCM is', lcm)

Enter your first number:-2
Enter your second number :-3
Your LCM is 6.0

32.Print first 25 prime numbers

In [ ]:
counter = 0
num = 2
while(counter <= 25):
    for i in range (2, num):
        if num % i==0 :
            break
    else:
        print(num)
        counter = counter + 1
    num = num +1

33.Print the first 20 numbers of a Fibonacci series

In [4]:
n = int(input("Enter a number"))
x=0
y=1
for i in range(n):
    print(x,end=" ")
    z=x+y
    x=y
    y=z

Enter a number20
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [5]:
# another method
count = 0
a=0
b=1
print(a)
print(b)

while True:
    c = a + b
    a = b
    b = c
    print(c)
    count = count + 1
    if count == 18:
        break

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

34.Write a program to find the compound interest

In [7]:
p = int(input("Enter your principal:- "))
r = int(input("Enter rate of interest:- "))
t = int(input("Enter the time period elapsed:- "))

a = p*(1+r/100)**t
print('Your amount is:-',a)

ci = a - p
print('Your compound interest is:', ci)

Enter your principal:- 1000
Enter rate of interest:- 2
Enter the time period elapsed:- 2
Your amount is:- 1040.4
Your compound interest is: 40.40000000000009

35.Write a Python program that accepts an integer (n) and computes the
value of n+nn+nnn.

In [8]:
# (2 + 22 + 222)
n = input("Enter your number" )
print('n is:',n)
nn = n + n
print('nn is:', nn)
nnn = n+n+n
print('nnn is:',nnn)
c = int(n) + int(nn) + int(nnn)
print(c)

Enter your number2
n is: 2
nn is: 22
nnn is: 222
246

36.Take a number from the user and find the number of digits in it

In [10]:
# Python3 implementation of the approach
def count_digits(n):
    n = str(n)
    return len(n)


# Driver code
n = 456533457776
print(count_digits(n))

12

In [11]:
#Another way
a = int(input("Enter your number"))
count = 0

while(a > 0):
    a = a // 10
    count = count + 1
print('Number of digits:',count)

Enter your number345
Number of digits: 3

37. Print all factors of a given number provided by the user

In [12]:
n = int(input("Enter a number"))

for i in range(1,n+1):
    if n%i==0:
        print('Your factore are:',i)

Enter a number56
Your factore are: 1
Your factore are: 2
Your factore are: 4
Your factore are: 7
Your factore are: 8
Your factore are: 14
Your factore are: 28
Your factore are: 56

38. Find the reverse of a number provided by the user(any number of digit)

In [13]:
n = int(input("Enter a number"))
rev=0
while(n!=0):
    rem=n%10
    rev=(rev*10)+rem
    n=n//10
print(rev)

Enter a number456
654

39.Write a program to print the following pattern

In [ ]:
*
**
***
****
*****

In [14]:
r = 5
for i in range(1,r+1):
    for j in range(1,i+1):
        print("*", end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

40.Write a program to print the following pattern

In [ ]:
*
**
***
**
*

In [16]:
row = int(input("Enter number of rows:"))

for i in range(1,row+1):
    for j in range(0,i):
        print('*',end=" ")
    print()
    
for k in range(row,0,-1):
    for l in range(0,k-1):
        print('*',end=" ")
    print('')

Enter number of rows:3
*
* *
* * *
* *
*

41. Write a program to print the following pattern

42.Write a program to print the following pattern

In [ ]:
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [1]:
row = int(input("Enter number of rows:"))

for i in range(1,row+1):
    for j in range(1,i+1):
        print(j,end = ' ')
    for k in range(i-1,0,-1):
        print(k,end = ' ')
    print()

Enter number of rows:5
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
43.Write a program to print the following pattern
1
2 3
4 5 6
7 8 9 10

In [2]:
row = int(input("Enter number of rows:"))
num = 1
for i in range(1,row + 1):
    for j in range(1,i+1):
        print(num, end =' ')
        num = num + 1
    print(' ')

Enter number of rows:4
1
2 3
4 5 6
7 8 9 10

44. Write a program to calculate the sum of the following series till the
nth term
1/1! + 2/2! + 3/3! + 4/4! +…….+ n/n!
n will be provided by the user

In [4]:
num = int(input("Enter your number: "))
result = 0
fact = 1

for i in range(1, num + 1):
    fact = fact + i
    result = result + (i/fact)
print(result)

Enter your number: 5
2.104707792207792

45.Write a Python Program to Find the Sum of the Series till the nth term:
1 + x^2/2 + x^3/3 + … x^n/n
n will be provided by the user

In [5]:
x = int(input("Enter your number: "))
n = 7
sum = ((x-1)/x)

for i in range(2,n+1):
    sum = sum + (1/2*((x-1)/x)**i)
print(sum)

Enter your number: 4
1.674774169921875

46.The natural logarithm can be approximated by the following series.
If x is input through the keyboard, write a program to calculate the
sum of the first seven terms of this series

47. Write a program that keeps on accepting a number from the user until
the user enters Zero. Display the sum and average of all the numbers.

In [7]:
num = int(input("Enter your number"))
add = 0
avg = 0
count = 0

while True:
    if num != 0:
        add = add + num
        count += 1
        avg = add/count
        num = int(input("Another number please:"))
        
    else:
        print('Thank you')
        break
print('Your sum is:', add)
print('Your avg is', avg)

Enter your number1
Another number please:2
Another number please:3
Another number please:4
Another number please:5
Another number please:6
Another number please:0
Thank you
Your sum is: 21
Your avg is 3.5

48.Write a program that accepts 2 numbers from the user a numerator
and a denominator and then simplifies it
Eg if the num = 5, den = 15 the answer should be ⅓
Eg if the num = 6, den = 9 the answer should be ⅔

In [9]:
a = int(input("Enter your first number"))
num_1 = a
b = int(input("Enter your second number"))
num_2 = b

while num_1 % num_2 != 0:
    rem = num_1 % num_2
    num_1 = num_2
    num_2 = rem
hcf = num_2
a = a/hcf
b = b/hcf
print(a/b)

Enter your first number2
Enter your second number6
0.3333333333333333

49.Find the length of a given string without using the len() function.

In [10]:
a = input('Enter your string')
count = 0

for i in a:
    count = count + 1
print('Length of the string is', count)

Enter your stringhello vartika singh
Length of the string is 19

50.Extract username from a given email.
Eg if the email is nitish24singh@gmail.com then the username
should be nitish24singh

In [11]:
email = input('Enter your email')
username,mail = email.split('@')
print(username)

Enter your emailgrbhosale33@gmail.com
grbhosale33

51. Count the frequency of a particular character in a provided string. Eg
'hello how are you' is the string, the frequency of h in this string is 2.

In [1]:
a = input("Enter a string")
b = input("Enter a character")
count = 0

for i in a:
    if i in b:
        count = count + 1
print('Character occured:',count,'times')

Enter a stringhello vertika singh
Enter a characterh
Character occured: 2 times

52.Find the index position of a particular character in another string.

In [1]:
a = input("Enter a string")
b = input("Enter a character")

print(a.index(b))

Enter a stringi am happy
Enter a characteri
0

53.Count the number of vowels in a string provided by the user.

In [3]:
a = input("Enter a string ")
vowels = "aeiou"
counts = 0

for i in a:
    if i in vowels:
        counts = counts + 1
print(counts)

Enter a string I am humble
3

54.Write a program which can remove a particular character from a string.

In [ ]:
a = input("Enter a string")
b = int(input("Enter the value of character")

c = a[0:b-1]
d = a[b: ]
print(c+d)

55.Write a program that can check whether a given string is palindrome or
not.

In [6]:
n = input("Enter a string")
rev = ''

for i in range(len(a)-1,-1,-1):
    rev = rev + a[i]
print(rev)

if rev==a:
    print('palindrom')
    
else:
    print("not pal")

Enter a stringgkg
elbmuh ma I
not pal

56.Write a python program to remove all the duplicates from a list

In [7]:
a = [1,2,2,3,3,4,5,6,4]
b = []

for i in a:
    if i not in b:
        b.append(i)
print(b)

[1, 2, 3, 4, 5, 6]

57.Write a python program to convert a string to title case without using
the title()

In [8]:
a = "hELLo gaNESh BhosaLE"
y = a.split()
print(y)

r = ''
for i in y:
    r = r + i[0].upper() + i[1:].lower() + ' '
print(r)

['hELLo', 'gaNESh', 'BhosaLE']
Hello Ganesh Bhosale

58.Write a python program to find the max item from a list without using
the max function.

In [10]:
l = [2,3,4,5,6,7,8]
max = l[0]
for i in l:
    if i > max:
        max = i
print(max)

8

59.Write a python program to reverse a list

In [12]:
l = [1,2,3,4,5,6,7,8]
rev=[]

for i in range(len(l)-1,-1,-1):
    rev.append(l[i])
print(rev)

[8, 7, 6, 5, 4, 3, 2, 1]

60.Write a python program to search a given number from a list

In [13]:
L = [1,2,3,4,5,6,7,8]
num = int(input("Enter a  number"))

for i in L:
    if i == num:
        print('True')
        break
else:
    print('False')

Enter a  number6
True

61. Write a program that can create a new list from a given list where each
item in the new list is square of the item of the old list.

In [14]:
L1 = [2,3,4,5]
L2 = []

for i in L1:
    L2.append(i**2)
print(L2)

[4, 9, 16, 25]

62.Write a program that can reverse words of a given string.
Eg if the input is Hello how are you
Output should be you are how Hello

In [15]:
a = input("Enter a string")
x = a.split()
rev = []

for i in range(len(x)-1,-1,-1):
    rev.append(x[i])
y=' '.join(rev)
print(y)

Enter a string Hello how are you
you are how Hello

63.Write a program that can count the number of words in a given string

In [17]:
a = input("Enter a string")
count = 0

for i in a:
    if i == ' ':
        count = count + 1
word = count + 1
print('number of word',word)

Enter a stringI love you
number of word 3

64.Write a program to check if a list is in ascending order or not

65.Create 2 lists from a given list where 1st list will contain all the odd
numbers from the original list and the 2nd one will contain all the even
numbers

In [18]:
even = []
odd = []

for i in range(1,101):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
        
print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

66.Write a program to merge 2 list without using the + operator

In [19]:
L1 = [1,2,3,4]
L2 = [5,6,7,8]
L=[]
for i in L1:
    L.append(i)
for j in L2:
    L.append(j)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8]

67.Write a program to replace an item with a different item if found in the
list

In [20]:
L = [1,2,3,4]
find = int(input("Enter a number you want to replace"))
replace = int(input("Enter your number"))

for i in range(0,len(L)):
    if find == L[i]:
        L[i] = replace
        print(L)
        break
else:
    print("Not found")

Enter a number you want to replace100
Enter your number200
Not found

68.Write a program that can convert a 2D list to 1D list

In [21]:
L = [1,2,3,4,[5,6,7]]
rev = []

for i in L:
    if type(i)==list:
        rev.extend(i)
    else:
        rev.append(i)
print(rev)

[1, 2, 3, 4, 5, 6, 7]

69.Write a program that can perform union and intersection on 2 given list.

In [22]:
L1 = [1,2,3,4,5]
L2 = [3,4,5,6,7]
union = []
intersection = []

#union
for i in L1:
    if i not in union:
        union.append(i)
for j in L2:
    if j not in union:
        union.append(j)
        
# intersection
for i in L1:
    if i in L2:
        intersection.append(i)

print('your union list',union)
print('intersection',intersection)

your union list [1, 2, 3, 4, 5, 6, 7]
intersection [3, 4, 5]

70.Write a program that can print the max item of each row of a matrix.

In [23]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
for i in matrix:
    max = i[0]
    for j in i:
        if j > max:
            max = j
        print(max)

1
2
3
4
5
6
7
8
9

71. Write a program that can convert an integer to string.

In [2]:
num = int(input("Enter Any Number = "))

print(num)
print(type(num))

intToString = "%s" %num

print(intToString)
print(type(intToString))

Enter Any Number = 45
45
<class 'int'>
45
<class 'str'>

72. Write a program to print the shape of a matrix.

In [3]:
matrix = [
    [1,2,3],
    [4,5,6]
]

row = 0
for i in matrix:
    row = row + 1
print('The shape of this matrix is',row, '*',len(i))

The shape of this matrix is 2 * 3

73.Write a program that can check if you can perform matrix
multiplication on 2 matrices

In [4]:
matrix_1= [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
row_1 = 0
for i in matrix_1:
    row_1 = row_1 + 1
    column_1 = len(i)
    print('matrix_1',i)
print('row_1',row_1)
print('column_1',column_1)

matrix_2 = [
    [2,3],
    [4,5],
    [7,8]
]
row_2 = 0
for j in matrix_2:
    row_2 = row_2 + 1
    column_2 = len(j)
    print('matrix_2',j)
print('row_2',row_2)
print('column_2',column_2)

if column_1 == row_2:
    print('multiplication is possible')
    
else:
    print('not possible')

matrix_1 [1, 2, 3]
matrix_1 [4, 5, 6]
matrix_1 [7, 8, 9]
row_1 3
column_1 3
matrix_2 [2, 3]
matrix_2 [4, 5]
matrix_2 [7, 8]
row_2 3
column_2 2
multiplication is possible

74.Write a program to perform matrix multiplication on 2 matrices.

In [5]:
# Program to multiply two matrices using nested loops

# take a 3x3 matrix
A = [[12, 7, 3],
	[4, 5, 6],
	[7, 8, 9]]

# take a 3x4 matrix
B = [[5, 8, 1, 2],
	[6, 7, 3, 0],
	[4, 5, 9, 1]]
	
result = [[0, 0, 0, 0],
		[0, 0, 0, 0],
		[0, 0, 0, 0]]

# iterating by row of A
for i in range(len(A)):

	# iterating by column by B
	for j in range(len(B[0])):

		# iterating by rows of B
		for k in range(len(B)):
			result[i][j] += A[i][k] * B[k][j]

for r in result:
	print(r)

[114, 160, 60, 27]
[74, 97, 73, 14]
[119, 157, 112, 23]

In [6]:
# Another way 
# Program to multiply two matrices (vectorized implementation)

# Program to multiply two matrices (vectorized implementation)
import numpy as np
# take a 3x3 matrix
A = [[12, 7, 3],
	[4, 5, 6],
	[7, 8, 9]]

# take a 3x4 matrix
B = [[5, 8, 1, 2],
	[6, 7, 3, 0],
	[4, 5, 9, 1]]

# result will be 3x4

result= [[0,0,0,0],
		[0,0,0,0],
		[0,0,0,0]]

result = np.dot(A,B)

for r in result:
	print(r)

[114 160  60  27]
[74 97 73 14]
[119 157 112  23]

75.Write a program that can sort a given unsorted list. Dont use any built in
function for sorting.

In [7]:
L = [5,2,3,6,4,7]

for i in range(len(L)):
    for k in range(0,len(L)-1):
        if L[k]>L[k+1]:
            temp = L[k]
            L[k]=L[k+1]
            L[k+1]= temp
print(L)

[2, 3, 4, 5, 6, 7]

76.Write a program that can find the most used word in a bollywood song

77. Assume a list with numbers from 1 to 10 and then convert it into a
dictionary where the key would be the numbers of the list and the
values would be the square of those numbers.

In [8]:
L = [1,2,3,4,5,6,7,8,9]
D = {}

for i in L:
    D[i] = i**2
print(D)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

78.Write a program to merge two given dictionary

In [9]:
D1 = {'a':2,'b':3}
D2 = {'c':4,'d':4}
D = {}

for i in D1:
    D[i]=D1[i]
for k in D2:
    D[k]=D2[k]
print(D)

{'a': 2, 'b': 3, 'c': 4, 'd': 4}

79.Write a program to swap the key value pair for max and min values
Eg if the dict is like this {‘a’:1,’b’:2,’c’:3}
Output should be {a:3,b:2,c:1}

In [10]:
D = {'a':100, 'b':200,'c':300,'d':400}
max_val = max(D.values())
min_val = min(D.values())

for i in D:
    if D[i]==max_val:
        print(D[i])
        break
        
for j in D:
    if D[j]==min_val:
        print(D[j])
        break
    
D[i]=min_val
D[j]=max_val
print(D)

400
100
{'a': 400, 'b': 200, 'c': 300, 'd': 100}

80.Write a program to find histogram of a given set of numbers. Take bin
size from user. Print the result in the form of a dictionary.

81. Write a function that accepts a string and returns the number of upper
case chars and lower case chars as a dictionary

82. Write a function that accepts a list of strings and performs Bag of words
    and convert it to numerical vectors.

In [12]:
def bow(sentences):
    vocab = []
    for i in sentences:
        vocab.extend(i.split())
        
    vocab = list(set(vocab))
    
    vector2d = []
    for sentence in sentences:
        vector = []
        
        for word in vocab:
            vector.append(sentence.count(word))
        vector2d.append(vector)
    return vector2d

sentences = [
    'Hello how are you'
    'I was waiting for your calls'
    'where do you work'
    'Lets meet someday'
    'Hope you are fine'
]
bow(sentences)

[[1, 1, 1, 2, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

83.Write a dummy program that can perform login and registration using
a menu driven program